:root {
  --bg-dark-gray: #0d0f13;
  --element-gray: #1f2229;
  --detail-gray: #35383f;
  --text-gray: #c5c9d6;
  --accent-purple: #5c4b8c;
  --secondary-purple: #3a2f5c;
  --highlight-purple: #8e7cc3;
  --contrast-white: #edeef0;
  --hover-purple: rgba(92, 75, 140, 0.5);
}
