body {
  background-color: var(--bg-dark-gray);
  color: var(--text-gray);
  height: 100vh;
  margin: 0;
}

.welcomepage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-dark-gray);

  & canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
    &-title {
      font-family: "ArchivoBlack";
      font-size: 40px;
      text-transform: uppercase;
    }
    &-subtitle {
      transform: scaleY(0.8);
      font-family: "Roboto Thin";
      font-size: 24px;
      text-transform: lowercase;
      margin-bottom: 20px;
    }
    &-btn {
      width: 140px;
      height: 50px;
      background-color: transparent !important;
      border-radius: 10px !important;
      color: var(--text-gray) !important;
      font-size: 21px !important;
      &:hover {
        background-color: rgba(92, 75, 140, 0.5) !important;
        border: 1px solid var(--highlight-purple);
      }
    }
  }
}
