.joyride-tooltip {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
}

.joyride-tooltip__header {
  background-color: var(--accent-purple);
  color: var(--contrast-white);
  border-radius: 8px 8px 0 0;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.joyride-tooltip__main {
  color: var(--text-gray);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.joyride-tooltip__main img {
  max-width: 50px;
  height: auto;
  margin-right: 15px;
}

.joyride-tooltip__footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.joyride-tooltip__button--primary {
  background-color: var(--accent-purple);
  color: var(--contrast-white);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.joyride-tooltip__button--primary:hover {
  background-color: var(--hover-purple);
  border: 1px solid var(--highlight-purple);
  box-shadow: 0px 0px 1px var(--highlight-shadow);
}

.joyride-tooltip__button--secondary {
  background-color: transparent;
  color: var(--text-gray);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.joyride-tooltip__close {
  color: var(--text-gray);
}