@import "./base/normalize.css", "./base/media", "./base/mixins", "./base/utils",
  "./base/variables", "./base/fonts";

@import "../pages/welcomePage/WelcomePage.module.scss";

@import "../shared/ui/Button/CustomButton.module.scss";

body {
  user-select: none;
  -webkit-user-select: none;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 1.8em;
}
