@charset "UTF-8";
@import "./base/normalize.css";
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

/* Глобальные стили скроллбара */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--element-gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--detail-gray);
}

:root {
  --bg-dark-gray: #0d0f13;
  --element-gray: #1f2229;
  --detail-gray: #35383f;
  --text-gray: #c5c9d6;
  --accent-purple: #5c4b8c;
  --secondary-purple: #3a2f5c;
  --highlight-purple: #8e7cc3;
  --contrast-white: #edeef0;
  --hover-purple: rgba(92, 75, 140, 0.5);
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArchivoBlack";
  src: url("../assets/fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Widock";
  src: url("../assets/fonts/Widock TRIAL Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../assets/fonts/Roboto_SemiCondensed-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: var(--bg-dark-gray);
  color: var(--text-gray);
  height: 100vh;
  margin: 0;
}

.welcomepage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-dark-gray);
}
.welcomepage canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.welcomepage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 2; /* Текст поверх Canvas */
}
.welcomepage__wrapper-title {
  font-family: "ArchivoBlack";
  font-size: 40px;
  text-transform: uppercase;
}
.welcomepage__wrapper-subtitle {
  transform: scaleY(0.8);
  font-family: "Roboto Thin";
  font-size: 24px;
  text-transform: lowercase;
  margin-bottom: 20px;
}
.welcomepage__wrapper-btn {
  width: 160px;
  height: 70px;
  background-color: var(--element-gray) !important;
  border-radius: 17px !important;
  color: var(--text-gray) !important;
  font-size: 21px !important;
}
.welcomepage__wrapper-btn:hover {
  background-color: rgba(92, 75, 140, 0.5) !important;
  border: 1px solid var(--highlight-purple);
  box-shadow: 1px 1px 8px var(--highlight-purple);
}

.customButton {
  width: 95px;
  height: 45px;
  background-color: transparent;
  color: var(--main-color-dark-theme);
  border: 1px solid var(--accent-color-purple);
  border-radius: 0.5rem;
  font-size: 20px;
  font-family: "Roboto Thin";
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (hover: hover) {
  .customButton:hover {
    background-color: var(--accent-color-purple);
    transition: background-color 0.2s ease-in;
  }
}
@media (hover: none) {
  .customButton:active {
    background-color: var(--accent-color-purple);
    transition: background-color 0.2s ease-in;
  }
}

body {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 1.8em;
}/*# sourceMappingURL=main.css.map */